* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home {
    position: relative;
    right: 45%;
    padding: 3px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    padding: .8rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.home a{
    color: white;
    text-decoration: none;
}

.footer-title h1 {
    font-size:2rem;
    padding: .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: rgb(34, 34, 32);
    overflow-y: scroll;

}

/* Design 1 */

header.design-one {
    display: block;
    justify-content: center;
    width: 60rem;
    height: 10rem;
    vertical-align: middle;
}

.navigation-content{
    text-decoration: none;
    color: black;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.roblox-logo {
    height: 54px;
    display: block;
    justify-content: center;
    position: relative;
    left: 46%;
    top: 7px;
}

.navigation {
    width: 37%;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    padding: 30px;
}

.design-one {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .3rem 5vw;
    background: rgb(131, 130, 126);
}

.botnav {
    border-top: 1px solid;
    color: black;
    position: absolute;
    margin-top: 35px;
    width: 60rem;
}

.botnav p {
    font-size: 12px;
    text-align: center;
    padding: 10px; 
}

/* Design 1 with animation */

header.design-one-animation {
    display: block;
    justify-content: center;
    width: 60rem;
    height: 10rem;
    vertical-align: middle;
}

.navigation-content-animation {
    text-decoration: none;
    color: black;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
}

.roblox-logo-animation {
    height: 54px;
    display: block;
    justify-content: center;
    position: relative;
    left: 46%;
    top: 7px;
    transition: all .7s ease;
    &:hover {
        transform: rotateZ(360deg);
    }
}

.navigation-animation {
    width: 37%;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    padding: 30px;
}

.design-one-animation {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .3rem 5vw;
    background: rgb(131, 130, 126);
}

.botnav {
    border-top: 1px solid;
    color: black;
    position: absolute;
    margin-top: 35px;
    width: 60rem;

}

.botnav p {
    font-size: 12px;
    text-align: center;
    padding: 10px; 
}

/* Design 2 */

header.design-two {
    display: block;
    justify-content: space-between;
    width: 60rem;
    height: 10rem;
}

.navigation-content-two {
    text-decoration: none;
    color: black;
    margin-top:-13%;
    position: relative;
    left: 19rem;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.nyy-logo {
    height: 48px;
    display: block;
    justify-content: space-between;
    position: relative;
    left: -4%;
    margin-top: 2%;
}

.navigation-two {
    width: 37%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.design-two {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .3rem 5vw;
    background: #23478a;
}

section h3 {
    position: relative;
    left: 22.4%;
    color: white;
}

.botnav-two {
    border-top: 1px solid;
    color: black;
    position: absolute;
    margin-top: 55px;
    width: 60rem;
}

.botnav-two p {
    font-size: 12px;
    text-align: end;
    padding: 10px;
}

/* Design 2 with animation */

header.design-two-animation {
    display: block;
    justify-content: space-between;
    width: 60rem;
    height: 10rem;
}

.navigation-content-two-animation {
    text-decoration: none;
    color: black;
    margin-top:-13%;
    position: relative;
    left: 19rem;
    &:hover {
        color: rgb(99, 129, 209);
    }
}

.navigation-content-two-animation:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.2px;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: 13px;
    transition: all 0.3s ease-in-out;
}

.navigation-content-two-animation:hover::before {
    width: 100%;
    left: 0;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.nyy-logo-animation {
    height: 48px;
    display: block;
    justify-content: space-between;
    position: relative;
    left: -4%;
    margin-top: 2%;
}

.navigation-two-animation {
    width: 37%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.design-two-animation {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .3rem 5vw;
    background: #23478a;
}

.botnav-two-animation {
    border-top: 1px solid;
    color: black;
    position: absolute;
    margin-top: 55px;
    width: 60rem;
}

.botnav-two-animation p {
    font-size: 12px;
    text-align: end;
    padding: 10px;
}

/* Design 3 */

header.design-three {
    display: block;
    justify-content: space-between;
    width: 60rem;
    height: 10rem;
}

.subscribe {
    position: relative;
    left: 120%;
    bottom: 70px;
}

.navigation-content-three {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin: auto 4px;
    position: relative;
    bottom: 70px;
}

.sub {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin: auto 4px;
    position: relative;
    bottom: 70px;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.mario-logo {
    height: 40px;
    display: block;
    justify-content: space-between;
    position: relative;
    left: -4%;
    margin-top: 2%;
}

.email {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 65px;
}

.address {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 58px;
}

.contact-number {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 51px;
}

.description {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 60px;
}

.socmed {
    height: 35px;
    right: 4%;
    top: 15%;
    position: relative;
}

input[type=text] {
    float: right;
    position: relative;
    padding: 4px;
    border: none;
    bottom: 50px;
    right: 75px;
    font-size: 15px;
    height: fit-content;
}

@media screen and (max-width: 600px) {
    input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc;
    }
}

.email-icon {
    position: relative;
    bottom: 45px;
    left: 67%;
}

.navigation-three {
    width: 37%;
    display: block;
    gap: 2rem;
    margin: auto;
}

.design-three {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .2rem 5vw;
    background: #fed1b0;
}

.botnav-three {
    border-top: 1px solid;
    color: black;
    position: relative;
    justify-content: center;
    bottom: 107px;
    right: 115%;
    width: 60rem;
}

.botnav-three p {
    font-size: 12px;
    text-align: end;
    position: relative;
    right: 52px;
    padding: 9px;
}

/* Design 3 with animation */

header.design-three-animation {
    display: block;
    justify-content: space-between;
    width: 60rem;
    height: 10rem;
}

.subscribe {
    position: relative;
    left: 120%;
    bottom: 70px;
}

.navigation-content-three {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin: auto 4px;
    position: relative;
    bottom: 70px;
}

.sub {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin: auto 4px;
    position: relative;
    bottom: 70px;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.mario-logo-animation {
    height: 40px;
    display: block;
    justify-content: space-between;
    position: relative;
    left: -4%;
    margin-top: 2%;
    transition: all 0.1s ease-in-out;
    &:hover {
        transform: scale(1.3);
    }
}

.email {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 65px;
}

.address {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 58px;
}

.contact-number {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 51px;
}

.description {
    margin: auto 4px;
    font-size: 14px;
    position: relative;
    bottom: 60px;
}

.socmed {
    height: 35px;
    right: 4%;
    top: 15%;
    position: relative;
}

input[type=text] {
    float: right;
    position: relative;
    padding: 4px;
    border: none;
    bottom: 50px;
    right: 75px;
    font-size: 15px;
    height: fit-content;
}

@media screen and (max-width: 600px) {
    input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc;
    }
}

.email-icon {
    position: relative;
    bottom: 45px;
    left: 67%;
}

.navigation-three-animation {
    width: 37%;
    display: block;
    gap: 2rem;
    margin: auto;
}

.design-three-animation {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: .2rem 5vw;
    background: #fed1b0;
}

.botnav-three {
    border-top: 1px solid;
    color: black;
    position: relative;
    justify-content: center;
    bottom: 107px;
    right: 115%;
    width: 60rem;
}

.botnav-three p {
    font-size: 12px;
    text-align: end;
    padding: 9px;
}

/* Design 4 */

header.design-four {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    height: 6rem;
}

.navigation-content-four {
    text-decoration: none;
    color: white;
    position: relative;
    right: 100%;
    font-size: 15px;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.yt-logo {
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -85%;
}

.navigation-four {
    left: 60%;
    position: relative;
    display: flex;
    gap: 2rem;
    margin: auto;
    align-items: center;
}

.design-four {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: .3rem 5vw;
    background: #282828;
}

.botnav-four {
    display: flex;
    font-size: 12px;
    text-align: end;
    position: relative;
    right: 60%;
    color: white;
}

/* Design 4 with animation */

header.design-four-animation {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    height: 6rem;
}

.navigation-content-four-animation {
    text-decoration: none;
    color: white;
    position: relative;
    right: 100%;
    font-size: 15px;
    z-index: 1;
}

.navigation-content-four-animation:hover {
    color: rgb(0, 0, 0);
}

.navigation-content-four-animation::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: white;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.navigation-content-four-animation:hover:after {
    opacity: 1;
    visibility: visible;
    height: 250%;
    width: 125%;
    margin-left: -10%;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.yt-logo-animation {
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -85%;
}

.navigation-four-animation {
    left: 60%;
    position: relative;
    display: flex;
    gap: 2rem;
    margin: auto;
    align-items: center;
}

.design-four-animation {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: .3rem 5vw;
    background: #282828;
}

.botnav-four {
    display: flex;
    font-size: 12px;
    text-align: end;
    position: relative;
    right: 60%;
}

/* Design 5 */

header.design-five {
    display: block;
    justify-content: center;
    width: 60rem;
    height: 10rem;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.nba-logo {
    height: 55px;
    display: block;
    justify-content: center;
    position: relative;
    left: 50%;
    margin-top: 2px;
}

.navigation-five {
    position: relative;
    left: 50%;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.design-five {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: .3rem 5vw;
    background: rgb(255, 255, 255);
}

.botnav-five {
    border-top: 1px solid;
    color: rgb(131, 131, 131);
    position: relative;
    align-items: center;
    right: 61%;
    top: 23px;
    width: 60rem;
}

.botnav-five p {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    color: black;
}

.socmed-two {
    height: 35px;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 43.5%;
    top: 10%;
}

/* Design 5 with animation */

header.design-five-animation {
    display: block;
    justify-content: center;
    width: 60rem;
    height: 10rem;
}

section {
    width: 100vw;
    display: flex;
    padding: 1rem 5vw;
    gap: 1rem;
    text-align: flex-end;
    position: relative;
    left: -2.5%;
}

.nba-logo-animation {
    height: 55px;
    display: block;
    justify-content: center;
    position: relative;
    left: 50%;
    margin-top: 2px;
    transition: all 1s ease;
    &:hover {
        transform: rotateY(360deg);
    }
}

.navigation-five-animation {
    position: relative;
    left: 50%;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.design-five-animation {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: .3rem 5vw;
    background: rgb(255, 255, 255);
}

.botnav-five-animation {
    border-top: 1px solid;
    color: rgb(131, 131, 131);
    position: relative;
    align-items: center;
    right: 61%;
    top: 23px;
    width: 60rem;
}

.botnav-five-animation p {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    color: black;
}

.socmed-two {
    height: 35px;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 43.5%;
    top: 10%;
}